BOT_TOKEN=8621740437:AAEM3d-vdYNw6vsuhCBCs8A0qnJAtHh_ziE
ADMIN_IDS=8176196456
ADMIN_CHAT_ID=-1003919856160

CHANNEL_USERNAME=@ciorsa

DB_HOST=localhost
DB_PORT=5432
DB_USER=potyjn
DB_PASSWORD=wortex1162009
DB_NAME=potyjn_vpn

REMNAWAVE_URL=https://panel.yourdomain.com
REMNAWAVE_TOKEN=your_api_token

WEB_HOST=0.0.0.0
WEB_PORT=8080
DOMAIN=https://sub.yourdomain.com

DEFAULT_TRAFFIC_GB=50
REFERRAL_BONUS_GB=1
MAX_REFERRALS_PER_DAY=25
MAX_REFERRAL_BONUS_GB=25
SUBSCRIPTION_DAYS=30

NOTIFY_72H=true
NOTIFY_10GB=true
NOTIFY_1GB=true
